<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.username">root</property>
    	<property name="connection.password">ZhuBojj-123</property>
    	<property name="hibernate.connection.url">jdbc:mysql://115.28.22.18:3306/zhubo_dev</property>
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="hibernate.connection.pool.size">20</property>          
        <property name="hibernate.show_sql">false</property>
        <property name="jdbc.fetch_size">50</property>   
        <property name="jdbc.batch_size">23</property>   
        <property name="jdbc.use_scrollable_resultset">false</property>   
        <property name="Connection.useUnicode">true</property>   
    	<property name="connection.characterEncoding">utf8</property>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="hbm2ddl.auto">update</property> 
    	<mapping class="com.zhubo.entity.Platform"/>
    	<mapping class="com.zhubo.entity.Anchor"/>
    	<mapping class="com.zhubo.entity.AnchorMetricByMinutes"/>
    	<mapping class="com.zhubo.entity.AnchorMetricByDays"/>
    	<mapping class="com.zhubo.entity.AudiencePayByMinutes"/>
    	<mapping class="com.zhubo.entity.AudiencePayPeriod"/>
    	<mapping class="com.zhubo.entity.Audience"/>
    	<mapping class="com.zhubo.entity.AnchorIncomeByMinutes"/>
    	<mapping class="com.zhubo.entity.AnchorIncomeByDays"/>
    	<mapping class="com.zhubo.entity.AudiencePayByDays"/>
    	<mapping class="com.zhubo.entity.AudienceTotalPayByDays"/>
    	<mapping class="com.zhubo.entity.TaskRun"/>
    	<mapping class="com.zhubo.entity.TaskGroupRun"/>
    </session-factory>
</hibernate-configuration>
